:root {
    background-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
}

#header__nav {
    margin-top: 10px;
    display: flex;
    width: 500px;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 20px;

    button {
        height: 35px;
        border-radius: 10px;
    }

    #auth_button_group {
        width: 230px;
        display: flex;
        align-content: flex-end;
        justify-content: space-between;

        button {
            height: 30px;
        }
    }
}

#register_form, #login_form, form {
    margin-top: 100px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0D3B66;
    color: whitesmoke;
    border-radius: 10px;

    #error_message {
        height: 0;
        position: relative;
        font-size: 0.9em;
        color: indianred;
    }

    #show_password {
        color: whitesmoke;
    }
}

#main_board {
    margin-top: 50px;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-radius: 30px;
    border: 2px dashed #0D3B66;

    #no_auth_message{
        font-size: 2em;
    }

    #folders_board {
        width: calc(80vw - 50px);
        height: calc(80vh - 40px);
        display: flex;

        .folder {
            .folder_options {
                padding: 0 10px 0 10px;
                width: 250px;
                height: 40px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: darkgray;

                #modal_window {
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(110,110,110, 0.8);
                    z-index: 10;

                    form {
                        margin-top: 10px;
                    }
                }

                .chip {
                    display: flex;
                    align-items: center;
                    width: 100px;
                }

                svg:hover{
                    fill: #0D3B66;
                    scale: 115%;
                }
            }
        }

        .sub_folders {
            margin: 10px 0 10px 40px;
            width: 200px;

            .sub_folder {
                display: flex;
            }
        }
    }
}

